body{
  background-color: lightyellow;
}


h1 {
  text-align: center;
  font-family: "Kavivanar", sans-serif;
  color: red;
  text-decoration: underline;
}

h2 {
  text-align: left;
  font-family: 'Indie Flower', cursive;
  text-decoration: underline;
}

h3 {
  font-family: "Kavivanar", sans-serif;
  text-decoration: underline;

}




#linktwo:hover{
  color: red;
}


a:hover{
  background-color: green;
}


.color{
  color: blue;
  text-decoration: underline;
}


.color{
  color: blue;
}

h3 {
  color: blue;
}

h2 {
  color: blue;
}
/* h1{
  color: black;
  text-align: center;
} */


#colorbar {
  background-color: green;
  height: 50px;
  width: 100%;
}

img{
  border: 10px solid black;

}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.WorkExperience {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

h1{
  color: red;
}
