body{
background-color: powderblue;
margin: 0;
}

#college{
  border: double;
  border-width: thick;
  text-align: center;
    padding: 10px;
    box-shadow: 5px 10px 18px red;
}

h3{
  border: double;
  border-width: thick;
  box-shadow: 5px 10px 18px red;
}

#sports{
  border: double;
  border-width: thick;
  box-shadow: 5px 10px 18px red;
}

#facts{
  border: double;
  border-width: thin;
  box-shadow: 5px 10px 18px black;
}

#clubs{
  border: double
}

#hh2{
  border: 1px solid;
  box-shadow: 5px 10px 18px black;
  padding: 10px;
}

#hhh3{
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
}

#footer{
   border: 5px solid black;
   padding: 10px;

}

#body2{
  background-color: lightblue;
}

#school{
  column-count: 3;
  column-rule-style: solid;
  column-rule-color: black;
  text-align: center;
}

#alumni{
  column-count: 3;
  column-rule-style: solid;
  column-rule-color: black;
  text-align: center;
}



div.gallery {
    border: 1px solid #ccc;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

div.gallery:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-variant: small-caps;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#greek{
  background:yellow;
  border: solid;
  border-width: thick;
  text-align: center;
}

#social{
  border: solid;
  border-width: thick;
  text-align: center;
  text-decoration: underline;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: lightblue;
  padding: 10px;
}
.grid-container > div {
  background-color: yellow;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
